* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    /* background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;  */
    background-color: #f4b3ff45;
    color: white;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, main, footer {
    text-align: center;
    width: 100%; 
}

.header_background {
    background-color: rgba(120, 108, 191, 0.7); 
    color: white; 
    padding: 20px; 
    text-align: center; 
    width: 100%;
}

.container {
    width: 80%;
    max-width: 800px; 
    margin: 20px auto; 
    padding: 15px;
    background-color: rgba(164, 150, 206, 0.7); 
    border-radius: 8px; 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.one_sentence_summary {
    width: 90%;
    margin: 20px auto; 
    padding: 15px;
    background-color: rgba(159, 147, 248, 0.7); 
    border-radius: 8px;
    color: #98cafe; 
}

#one_sentence_summary {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    color: #fae7ff; 
}

.section {
    text-align: center; 
    margin-bottom: 20px; 
}

img {
    max-width: 100%; 
    height: auto; 
    margin: 0 auto; 
    display: block; 
}

#box2 {
    position: fixed; 
    bottom: 200px; 
    right: 20px; 
    border: 3px solid;
    height: 125px;
    width: 350px;
    color: white;
    background-color: rgba(165, 143, 207, 0.7);
    font-size: 1em;
    padding: 20px; 
}

footer {
    text-align: center;
    color: white;
    background-color: rgba(141, 114, 181, 0.7);
    padding: 10px;
}



footer hr {
    margin: 10px auto;
    border: 0.5px solid white;
}
