* {
  background-color: #1b1b1b;
}

body {
  margin: 0;
  font-family: Arial;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: left;
  padding: 32px;
}

.header h1 {
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(to right, #BFABFF, #F4B3FF);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 10px 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.img1 {
  position: relative;
  left: 20%;
  scale: 1.1;
  -webkit-transform: rotateZ(10deg);
  transform: rotateZ(10deg);
}

.img2 {
  position: relative;
  left: -10%;
  scale: 1.2;
  -webkit-transform: rotateZ(-6deg);
  transform: rotateZ(-6deg);
}

.img3 {
  position: relative;
  left: 15%;
  scale: 1;
  -webkit-transform: rotateZ(-12deg);
  transform: rotateZ(-12deg);
}

.img4 {
  position: relative;
  left: 0%;
  scale: 1.1;
  -webkit-transform: rotateZ(6deg);
  transform: rotateZ(6deg);
}

.img5 {
  position: relative;
  left: 10%;
  top: -5%;
  scale: 1.2;
  -webkit-transform: rotateZ(6deg);
  transform: rotateZ(6deg);
}

.img6 {
  position: relative;
  left: -10%;
  top: -10%;
  scale: 1.3;
  -webkit-transform: rotateZ(-3deg);
  transform: rotateZ(-3deg);
}

.img7 {
  position: relative;
  left: -20%;
  top: -30%;
  scale: 1;
  -webkit-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
}

.img8 {
  position: relative;
  top: 20%;
  scale: 1.2;
  -webkit-transform: rotateZ(-12deg);
  transform: rotateZ(-12deg);
}

.img9 {
  position: relative;
  left: -20%;
  scale: 1.2;
  -webkit-transform: rotateZ(-12deg);
  transform: rotateZ(-12deg);
}

.img10 {
  position: relative;
  left: 10%;
  top: 10%;
  scale: 1;
  -webkit-transform: rotateZ(-6deg);
  transform: rotateZ(-6deg);
}

.img11 {
  position: relative;
  left: 15%;
  top: 10%;
  scale: 1.1;
  -webkit-transform: rotateZ(6deg);
  transform: rotateZ(6deg);
}

.img12 {
  position: relative;
  left: -10%;
  top: 20%;
  scale: 1.3;
  -webkit-transform: rotateZ(6deg);
  transform: rotateZ(6deg);
}

.img13 {
  position: relative;
  left: -30%;
  top: 8%;
  scale: 1.3;
  -webkit-transform: rotateZ(-8deg);
  transform: rotateZ(-8deg);
}

.img14 {
  position: relative;
  left: -10%;
  top: 20%;
  scale: 1.2;
  -webkit-transform: rotateZ(8deg);
  transform: rotateZ(8deg);
}

.img15 {
  position: relative;
  left: 0%;
  top: 20%;
  scale: 1;
  -webkit-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
}


.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  padding: 10px 10px 20px;
  background: #fff;
  border: 1px solid #ddd;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: linear-gradient(to right, #BFABFF, #F4B3FF);
  
}

img:hover {
  max-width: 100%;
  -webkit-transform: scale(1.5) rotateZ(0deg);
  transform: scale(1.5) rotateZ(0deg);
  box-shadow: 2px 2px 5px #555;
  z-index: 2;
}

.caption {
  position: relative;
  bottom: 70%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(227, 149, 227, 0.7);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 18px;
  visibility: hidden;
  transition: opacity 0.4s ease;
  
  pointer-events: none; /* Does not respond to any mouse events */
  z-index: 5;
}

.photo img.expanded {
  z-index: 4;
}

.photo:hover .caption {
  opacity: 1;
  
  visibility: visible;
}

.buttons {
  background-color: #1b1b1b00;
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 1000;
}


button {
  padding: 20px 25px;
  font-size: 1.5rem;
  background: linear-gradient(to right, #BFABFF, #F4B3FF);
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 0; 
  left: 10%;
}

button:hover {
  background: #BFABFF;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1200px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }

  .buttons {
    transform: scale(0.7);
  }

  .row {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .buttons {
    transform: scale(0.7);
  }

  .row {
    width: 100%;
  }
}